* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.App {
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  // max-width: 100vh;
  background-color: white;
}

/* HEADER */
.header {
  /* border: 1px red solid; */
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fbff;
}

.hero {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem;
  text-align: center;
}

.hero__title {
  margin: 3rem 0 2rem;
  font-weight: 800;
  color: #532e1c;
}

.hero__info {
  font-size: 1.2rem;
  font-weight: 500;
  color: #202020;
}

.hero__img {
  max-width: 100%;
}

/* MAIN */
.main {
  // border: 1px red solid;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-top: 60px;
  }
}

/* FORM */
form {
  margin-bottom: 30px;

  * {
    font-family: "Karla", sans-serif;
  }
} 

.main__form {
  // border: 1px red solid;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"] {
  margin-bottom: 15px;
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
  text-indent: 10px;
  border: 1px solid #532e1c8e;
  border-radius: 5px;
  display: block;
}

input[type="checkbox"] {
  margin-right: 0.75rem;
}

textarea {
  width: 100%;
  height: 6rem;
  margin-bottom: 15px;
  font-family: "Karla", sans-serif;
  font-size: 0.9rem;
  text-indent: 10px;
  border: 1px solid #532e1c8e;
  border-radius: 5px;
  display: block;
}

.form_length {
  // border: 1px red solid;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
  height: 2rem;

  label {
    margin-right: 10px;
  }

  select {
    margin-right: 5px;
  }
}

.form__button {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 20px;
  height: 3rem;
  width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c5a880;
}

.form__button:active {
  box-shadow: inset 5px 5px 10px -3px #532e1c;
}

/* FOOTER */
.footer {
  /* border: red 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  color: #f8fbff;
  background-color: #202020;
}

.footer__link {
  color: #f8fbff;
}

.footer--link:hover {
  text-decoration: none;
  font-weight: bold;
}
