$primary: #c5a880;
$secondary: #532e1c;
$light: #f8fbff;
$dark: #282a37;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

/* HEADER */
.header {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem;
  text-align: center;
}

.hero__title {
  margin: 3rem 0 2rem;
  font-weight: 800;
  font-size: 2.5rem;
  color: $secondary;
}

.hero__info {
  font-size: 1.5rem;
  font-weight: 500;
  color: #282a37;
}

.hero__img {
  max-width: 80%;
}

/* MAIN */
.main {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;

  h2 {
    font-size: 2rem;
  }
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FORM */
.main__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;

  * {
    font-family: "Karla", sans-serif;
  }
}

.form__instruction-text {
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: auto;
}

.form__subject-container {
  width: 100%;
}

input[name="subject"] {
  width: 100%;
  margin-right: 2rem;
}

.form_length, .form_level {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  height: 3rem;

  select {
    margin-left: 0.5rem;
    height: 3rem;
    border-radius: 9px;
  }
}

input[type="text"] {
  margin-bottom: 15px;
  width: 100%;
  height: 3rem;
  font-size: 0.8rem;
  text-indent: 10px;
  border: 1px solid #532e1c8e;
  border-radius: 9px;
  display: block;
}

textarea {
  width: 100%;
  height: 8rem;
  margin-bottom: 15px;
  font-family: "Karla", sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
  border: 1px solid #532e1c8e;
  border-radius: 9px;
  display: block;
}

textarea:focus, input:focus {
  outline: none;
}

.form__button {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 20px;
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  color: black;
  background-color: $primary;
}

.form__button:active {
  box-shadow: inset 5px 5px 10px -3px $secondary;
}

/* RESULTS */
.results {
  width: 100vw;
  min-height: 300px;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8fbff;
}

.results__render {
  width: 90vw;
  border-radius: 9px;
  padding: 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-line;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  color: #f8fbff;
  background-color: #202020;
}

.footer__link {
  color: #f8fbff;
}

.footer--link:hover {
  text-decoration: none;
  font-weight: bold;
}
