$medium: 768px;
$large: 1200px;

/* Medium to Large Screens */
@media screen and (min-width: $medium) {
  /* HEADER */
  .hero {
    // border: 1px red solid;
    max-width: 1200px;
    flex-direction: row-reverse;
    padding: 8rem 2rem;
  }

  .hero__text-group {
    // border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }

  .hero__img {
    // border: 1px red solid;
    width: 40%;
  }

  .hero__info {
    max-width: 80%;
  }

  /* MAIN */
  .main {
    padding-top: 4rem;
  }

  form {
    padding-bottom: 4rem;
  }

  .form__textarea {
    width: 400px;
  }
}


/* Larger Screens */
// @media screen and (min-width: $large) {
  
// }